.filter {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*searchbar*/
.searchbar input{
  background-color: #2C2C2C;
  width: 100%;
  height: 5vh;
  border-radius: 50px;
  color: #FFFFFF;
}

.searchbar {
  margin-left: 1em;
  margin-bottom: 1em;
}

/*inputs*/
.multiple-inputs {
  display: flex;
  flex-direction: row;
}

.minDate, .maxDate, .select-filter {
  background-color: #2C2C2C;
  color: #FFFFFF;
  margin: 1em;
  height: 2em;
  width: 15em;
}

.select-filter {
  border: none;
  border-bottom: #E31C25 1px solid;
}

.multiple-inputs #icon-label {
  margin-left: 0.5em;
}

.multiple-inputs #label {
  margin-left: 0.6em;
}


/*tag*/
.list-genre {
  list-style-type: none;
  width: 25em;
  height: 8em;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3em;
}

.tag-select, .tag-unselect {
  border: #E31C25 solid 1px;
  border-radius: 50px;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  margin: 0.2em;
}

.tag-select {
  background-color: #E31C25;
}

/*movie card*/
.movie-card {
  width: 300px;
  height: 398px;
  color: #FFFFFF;
  list-style: none;
  background-color: #2C2C2C;
  margin: 2em;
  box-shadow: 8px 5px 10px #696868;
}

.movie-card:hover {
  transform: scale(1.05);
}

.img-card {
  width: 300px;
  height: 300px;
  position: absolute;
}

.icon-card {
  float: right;
  z-index: 99;
  position: relative;
  background: linear-gradient(90deg, rgba(197, 196, 196, 0), rgba(0, 0, 0, 0.4));
}

.fa-clock, .fa-star {
  padding: 0.3em;
}

.fa-clock-select, .fa-star-select {
  color: transparent;
}

.movie-card h4, .movie-card p {
  position: relative;
}

.movie-card h4 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 64px;
  font-size: 24px;
  top: 210px;
}

.card-synop {
  margin-top: 18em;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-genre {
  border: 1px #E31C25 solid;
  border-radius: 50px;
  width: 6em;
  display: flex;
  justify-content: center;
  background-color: #E31C25;
  justify-content: center;
  margin: 0.1em;
}

.all-genre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
