#authentication {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

form {
  flex-direction: column;
  width: 30%;
  background-color: #FFFFFF;
}

#login, #register {
  display: flex;
  flex-direction: column;
}

#login p, #register p {
  padding-left: 4em;
}

#login input, #register input {
  margin-left: 2em;
}

#login #icon-label, #register #icon-label {
  margin-left: 2em;
}

.buttonlogin, .buttonregister {
  width: 10em;
  margin-top: 2em;
  margin-right: 2em;
  align-self: flex-end;
  margin-bottom: 2em;
}

#button-container {
  display: flex;
  width: 100%;
}

#button-container button {
  width: 100%;
  border: 0;
}

#login p, #register p {
  font-weight: bold;
}

#register p, #login p {
  margin: 2em;
}

.icon {
  color: #000000;
  opacity: 40%;
}

.activesignin {
  background-color: #E31C25;
}
