/*header*/
nav img {
  border: solid 3px #BB000E;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

nav p, #title {
  color: #FFFFFF;
  padding-left: 1em;
  padding-right: 1em;
}

nav span {
  color: #BB000E;
  margin-top: 1em;
  padding-right: 1em;
}

.Header {
  display: flex;
  justify-content: space-between;
  background-color: #161616;
}

/*dashboard*/
.body-dashboard {
  display: flex;
  flex-direction: row;
}

/*homepage*/
.movie-card-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage button {
  margin-left: 45%;
}

.homepage {
  padding-top: 2em;
}

/*favorite*/
.favorite {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.favorite-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.favorite-title {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  border-bottom: 3px solid #E31C25;
  width: 8.5em;
  margin-left: 35%;
  font-size: 63px;
}

/*watch later*/
.watchlater {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.watchlater-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.watchlater-title {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  border-bottom: 3px solid #E31C25;
  width: 13em;
  margin-left: 24%;
  font-size: 63px;
}
