.nav-side, .hide-nav-side {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #BB000E;
  position: relative;
  min-height: 100vh;
}

.nav-side {
  width: 15%;
}

.hide-nav-side {
  width: 5%;
}

.nav-side ul, .hide-nav-side ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.arrow {
  float: right;
}


.nav-side li, .hide-nav-side li {
  padding: 1.2em;
}

.activeli {
  background-color: #F31D27;
}

.homeli, .favoriteli, .watchli {
  background-color: #BB000E;
}

.latest {
  background-color: #2C2C2C;
  border: solid 3px #BB000E;
  max-height: 60vh;
  overflow-y: scroll;
}

.latest::-webkit-scrollbar {
  display: none;
}

.latest hr {
  width: 85%;
  border: 2px solid
}

.latest h3 {
  margin-left: 1em;
}
